<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Generator</title>
    <link rel="stylesheet" href="../dist/style.css">

</head>

<body>
    <header>
        <section class="hero">
            <h1 class="display-3">My Team</h1>
        </section>
    </header>
    <section class="container">

        <div class="card">
            <div class="face face1">
                <div class="content">

                    <h3>Ricky Badillo</h3>
                    <h4>Manager</h4>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>ID: 12345</p>
                    <p>Email: <a href="mailto:rickybadillo7@gmail.com" target="_blank">rickybadillo7@gmail.com</a></p>
                    <p>Office number: 123</p>
                </div>
            </div>
        </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <h3>Brian M </h3>
                    <h4>Engineer</h4>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>ID: 123456</p>
                    <p>Email: <a href="mailto:brian@gmail.com" target="_blank">brian@gmail.com</a></p>
                    <p>GitHub: <a href="https://github.com/Ricardo-Badillo" target="_blank"
                            rel="noopener noreferrer">Ricky</a></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <h3>Phil L</h3>
                    <h4>Engineer</h4>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>ID: 4389489</p>
                    <p>Email: <a href="mailto:phil@gmail.com" target="_blank">phil@gmail.com</a></p>
                    <p>GitHub: <a href="https://github.com" target="_blank" rel="noopener noreferrer">Phil</a></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">

                    <h3>John P</h3>
                    <h4>Intern</h4>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>ID: 35643</p>
                    <p>Email: <a href="mailto:jphn@gmail.com" target="_blank">john@gmail.com</a></p>
                    <p>School: University of Washington</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <h3>Isbale B</h3>
                    <h4>Intern</h4>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>ID: 098723</p>
                    <p>Email: <a href="mailto:isabel@gmail.com" target="_blank">isabel@gmail.com</a></p>
                    <p>School: St Martins</p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>